<!DOCTYPE html>
<html lang="de">
<head>
    <!-- Dependencies -->
    <script src={{"/js-gen/bundle.js" | relURL}} charset="utf-8" > </script>
    <link rel="stylesheet" href={{"/css-gen/wshoe.css" | relURL}}>
    <!-- HTML Meta Data -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">
    <!-- Title -->
    <title> {{ .Site.Title }} </title>
</head>
<body>
    <header id="MainHeader">
        {{ partial "header" . }}
    </header>
    <main>
        <nav id="MainNavigation">
            {{ partial "main_nav" . }}
        </nav>
        <div id="Container">
            {{ block "main" . }}
            {{ end }}
        </div>
    </main>
    <footer id="MainFooter">
        <nav id="FooterNavigation">
            {{ partial "footer_nav" . }}
        </nav>
    </footer>
</body>
</html>
