<!DOCTYPE html>
<html lang="de">
  <head>
    <!-- Dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src={{"/js-gen/bundle.js" | relURL}} charset="utf-8" > </script>
    <link rel="stylesheet" href={{"/css-gen/wshoe.css" | relURL}}>
    <!-- HTML Meta Data -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">
    <!-- Title -->
    <title> {{ .Site.Title }} </title>
  </head>
  <body>
    {{ partial "header" . }}
    {{ partial "main_nav" . }}
    <main>
      {{ block "main" . }} {{ end }}
    </main>
    {{ partial "footer" . }}
  </body>
</html>
