<!DOCTYPE html>
<html lang="de">
  <head>
    <script src="./js-lib/jquery.min.js" charset="utf-8" > </script>
    <script src="./js-gen/bundle.js" charset="utf-8" > </script>
    <meta charset="utf-8">
    <title> Titel -- TODO </title>
  </head>
  <body>
    <header>
      {{ block "header" . }}
      <h1>header. Navigation here</h1>
      {{ end }}
      <nav> {{ partial "header_nav" . }} </nav>
    </header>
    <main>
      {{ block "main" . }}
      {{ end }}
    </main>
    <footer>
      {{partial "footer" . }}
      <nav> {{ partial "footer_nav" . }} </nav>
    </footer>
  </body>
</html>
