/* Page Geometry.
*/
body > header
{
    width: 25rem;
}

body,
body > main
{
    width: 75rem;
}

#FooterNav,
#MainNav,
body > main,
body > header {
	padding-right: 1em;
	padding-left: 1em;
}

body > main,
body > header,
#FooterNav {
	padding-top: 1em;
	padding-bottom: 1em;
}

/* sizes
body
body > header,
body > main
{
    width: 100%;
}
*/


/* Page element flowing. */

body > main,
body > header{
    position: relative;
}

body,
body > main,
body > header {
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
}

/* Navigation Flowing. */

#FooterNav li
{
    display: inline-block;
}

#MainNav
{
    width: 75rem;
    display: block;
}

#MainNav li {
    display: inline-flex;
}
