/* Page Geometry.
*/

main
{
    max-width: 60rem;
}

main,
#MainHeader,
#FooterNavigation {
    margin: 1em;
}

/* Toplevel padding.
*/
#MainNavigation {
    padding: 0.2em 1em;
}

#Container {
    padding: 1em;
}
